/* Estilo página secundária */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background: #222222;
}

.titulo {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.titulo {
    color: #fff;
}

.frame {
    width: 100%;
    height: 30px;
    background: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    -webkit-app-region: drag;
}

.frame .icon {
    box-sizing: border-box;
    padding: 4px 0 0 3px;
}

.frame .icon img {
    width: 25px;
    height: 25px;  
}

.frame .title p {
    color: #fff;
}

.frame .btn-window .btn-win {
    width: 30px;
    height: 30px;    
    font-size: 18px;
    background: transparent;
    border: none;
    color: #fff;
    -webkit-app-region: no-drag;
}

.frame .btn-window .btn-win:hover {
    background: rgba(255, 255, 255, .1);
}

.frame .btn-window .btn-win img {
    width: 18px;
    height: 18px;    
    margin-top: 4px;
}

.container {
    width: 95%;    
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    
}

.container-table {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    overflow: scroll;
    border-top: none;
    border: 1px solid #fafafa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Barra de rolagem */
.container-table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.container-table::-webkit-scrollbar {
    width: 15px;
    height: 15px;
	background-color: #F5F5F5;
}

.container-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
	background-color: #359AEB;
}

.table {
    width: 900px;
    margin: 0 auto;       
    border-collapse: collapse;
    background: #fafafa;  
    position: relative;
}

/* Barra de título fixa */
.bar-top {
    width: 100%;
    height: 50px;    
    margin-top: 50px;   
    overflow: hidden;    
    border: 1px solid #fafafa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}

#bar-top-table {
    width: 100%;
    margin: 0 auto;       
    border-collapse: collapse;
    background: #fafafa;  
    position: relative;
}

#bar-top-table thead {
    position: absolute;  
    top: 0px;    
}

#bar-top-table thead tr {
    display: flex;        
}

#bar-top-table thead tr th {
    width: 200px;
    height: 50px;
    padding-top: 15px;        
    text-align: center;
    color: #359AEB;
    background: #222222;
}

#bar-top-table thead tr th:nth-child(1) {
    width: 50px;
}

#bar-top-table thead tr th:nth-child(2) {
    width: 250px;
}

#bar-top-table thead tr th:nth-child(3) {
    width: 300px;
}

#bar-top-table thead tr th:nth-child(4) {
    width: 300px;
}

#bar-top-table thead tr th:nth-child(5) {
    width: 250px;
}

#bar-top-table thead tr th:nth-child(7) {
    width: 300px;
}

#bar-top-table thead tr th:nth-child(11) {
    width: 300px;
}

/* Fim */

tbody {
    display: block;
    margin-top: 0px;    
}

tbody tr {
    width: 100%;
    height: auto;
    display: flex;     
    
}

tbody tr:hover {
    background: #acc8ec;   
}

tbody tr td{
    width: 200px;
    height: auto;    
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c4c1c1;    
    text-align: center;    
    color: #222222;
    position: relative;
    word-break: break-all;
}

tbody tr td:nth-child(1){
    width: 50px;
}

tbody tr td:nth-child(2){
    width: 250px;
}

tbody tr td:nth-child(3){
    width: 300px;
}

tbody tr td:nth-child(4){
    width: 300px;
}

tbody tr td:nth-child(5){
    width: 250px;
}

tbody tr td:nth-child(7){
    width: 300px;
    height: auto;
}

tbody tr td:nth-child(11){
    width: 300px;
}

tbody tr td:nth-child(31){
    width: 190px;
}

tbody tr:nth-child(even) {
    background: #e0dfdf;
}

tbody tr:nth-child(even):hover {
    background: #acc8ec;
}

/* Botões */
button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.botoes {
    width: 100%;
    height: 100px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #1b2133;
    background: #dfe1ee;
    border-radius: 5px;
    border: 2px solid #1b2133;
    transition: .5s;
}

.btn:hover {
    color: #359AEB;   
    background: #222222;    
    border: 2px solid #359AEB;
    transition: .5s;
}

.btn-lixo {
    width: 25px;
    height: 25px;
    top: 7px;
    bottom: 5px;
    background: #222222;
    border: 1px solid black;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    transition: all .3s;
    position: absolute;
}

.btn-lixo:hover {
    border: 1px solid #359AEB;
}

.btn-lixo img {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    pointer-events: none;
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
}

.close {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #3b5998;
    color: #fff;          
    position: absolute;
    right: -6px;
    top: -6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

.close:focus {
    outline: none;
}

.modal .close img {
    width: 18px;
    height: 18px;
    margin-top: 2px;
}

.modal.show {
    display: flex;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show .modal-box {
    animation: modal .3s;
}

.modal-box {
    width: 500px;
    height: 250px;
    border: 1px solid #1d1c1c;
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.modal-box div {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px auto 10px;
    padding-top: 10px;
    border-radius: 50%;
    background: #fff;
}

.modal-box .confirma {
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 85px;  
    font-size: 20px;  
    color: #fafafa;
    background: #3d3d3d;
    border-radius: 5px;
    border: 2px solid #fafafa;
    transition: .5s;
}

.modal-box .confirma:hover {
    color: #222222;   
    background: #fafafa;    
    border: 2px solid #222222;
    transition: .5s;
}

.modal-box .cancela {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #fafafa;
    background: #3d3d3d;
    border-radius: 5px;
    border: 2px solid #fafafa;
    transition: .5s;
}

.modal-box .cancela:hover {
    color: #222222;   
    background: #fafafa;    
    border: 2px solid #222222;
    transition: .5s;
}

.modal-text {
    text-align: center;    
    font-size: 20px;
}

/**===== nest5 =====*/
.load {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
}

.load.show {
    display: flex;
}

#nest5 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #359AEB;
    border-radius: 50%;
    -webkit-animation: spin11 2s linear infinite;
            animation: spin11 2s linear infinite;
  }
  
  #nest5:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #F5F5F5;
    -webkit-animation: spin11 3s linear infinite;
            animation: spin11 3s linear infinite;
  }
  
  #nest5:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #3d3d3d;
    -webkit-animation: spin11 1.5s linear infinite;
            animation: spin11 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin11 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  @keyframes spin11 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  /** END of nest5*/
